### 825. [undergrads](https://jhutrc.github.io/fenagas/content/dramatispersonae/undergraduates.html)

In [1]:
# List of names
names = [
    ["Amelia", "Brown"],
    ["Brandon", "Wilson"],
    ["Catherine", "Garcia"],
    ["David", "Martinez"],
    ["Evelyn", "Lee"],
    ["Fernando", "Gomez"],
    ["Grace", "Kim"],
    ["Henry", "Johnson"],
    ["Isabella", "Smith"],
    ["Jackson", "Nguyen"],
    ["Kayla", "Patel"],
    ["Lucas", "White"],
    ["Mia", "Anderson"],
    ["Nathan", "Chan"],
    ["Olivia", "Perez"],
    ["Peter", "Zhang"],
    ["Quinn", "Rodriguez"]
]

def create_table(names):
    header = ["Number", "Name"]
    table = []
    table.append(header)
    for idx, name in enumerate(names, start=1):
        full_name = " ".join(name)
        row = [idx, full_name]
        table.append(row)
    
    # Printing the table
    for row in table:
        print(f"{row[0]:<10} {row[1]:<30}")

# Call the function
create_table(names)

Number     Name
1          Amelia Brown
2          Brandon Wilson
3          Catherine Garcia
4          David Martinez
5          Evelyn Lee
6          Fernando Gomez
7          Grace Kim
8          Henry Johnson
9          Isabella Smith
10         Jackson Nguyen
11         Kayla Patel
12         Lucas White
13         Mia Anderson
14         Nathan Chan
15         Olivia Perez
16         Peter Zhang
17         Quinn Rodriguez