In [21]:
from tabulate import tabulate

data1 = [
    ["#2023", "Handle2023", "Followers2023"],
    ["@instagram", "Instagram", 649],
    ["@cristiano", "Cristiano Ronaldo", 596],
    ["@leomessi", "Lionel Messi", 479],
    ["@selenagomez", "Selena Gomez", 426],
    ["@kyliejenner", "Kylie Jenner", 397],
    ["@therock", "Dwayne Johnson", 387],
    ["@arianagrande", "Ariana Grande", 377],
    ["@kimkardashian", "Kim Kardashian", 362],
    ["@beyonce", "Beyoncé", 314],
    ["@khloekardashian", "Khloé Kardashian", 310],
    ["@nike", "Nike", 302],
    ["@justinbieber", "Justin Bieber", 293],
    ["@kendalljenner", "Kendall Jenner", 292],
    ["@natgeo", "National Geographic", 281],
    ["@taylorswift", "Taylor Swift", 268],
    ["@virat.kohli", "Virat Kohli", 255],
    ["@jlo", "Jennifer Lopez", 249],
    ["@nickiminaj", "Nicki Minaj", 223],
    ["@kourtneykardash", "Kourtney Kardashian", 223],
    ["@mileycyrus", "Miley Cyrus", 212],
    ["@neymarjr", "Neymar", 210],
    ["@katyperry", "Katy Perry", 203],
    ["@zendaya", "Zendaya", 183],
    ["@kevinhart4real", "Kevin Hart", 178],
    ["@iamcardib", "Cardi B", 168],
    ["@kingjames", "LeBron James", 156],
    ["@ddlovato", "Demi Lovato", 156],
    ["@badgalriri", "Rihanna", 152],
    ["@realmadrid", "Real Madrid CF", 143],
    ["@chrisbrownofficial", "Chris Brown", 142],
    ["@champagnepapi", "Drake", 140],
    ["@ellendegeneres", "Ellen DeGeneres", 139],
    ["@fcbarcelona", "FC Barcelona", 122],
    ["@billieeilish", "Billie Eilish", 109],
    ["@championsleague", "UEFA Champions League", 107],
    ["@gal_gadot", "Gal Gadot", 105],
    ["@k.mbappe", "Kylian Mbappé", 105],
    ["@vindiesel", "Vin Diesel", 97.5],
    ["@lalalalisa_m", "Lisa", 95.8],
    ["@nasa", "NASA", 94.2],
    ["@dualipa", "Dua Lipa", 88.6],
    ["@priyankachopra", "Priyanka Chopra", 88.5],
    ["@shakira", "Shakira", 87.8],
    ["@nba", "NBA", 82.3],
    ["@shraddhakapoor", "Shraddha Kapoor", 81.6],
    ["@davidbeckham", "David Beckham", 80.6],
    ["@jennierubyjane", "Jennie", 80.2],
    ["@snoopdogg", "Snoop Dogg", 80.2],
    ["@khaby00", "Khaby Lame", 79.6],
    ["@gigihadid", "Gigi Hadid", 78.8]
]

data2 = [
    ["#2021", "Account2021", "Followers2021"],
    [1, "Instagram", 302],
    [2, "Cristiano Ronaldo", 172.7],
    [3, "Selena Gomez", 167.3],
    [4, "Ariana Grande", 154.4],
    [5, "Dwayne Johnson", 148.2],
    [6, "Kim Kardashian", 145.7],
    [7, "Beyoncé", 130.3],
    [8, "Kylie Jenner", 126.8],
    [9, "Taylor Swift", 119.6],
    [10, "Neymar Jr", 118.2],
    [11, "National Geographic", 114.5],
    [12, "Justin Bieber", 111.7],
    [13, "Kendall Jenner", 109.4],
    [14, "Nicki Minaj", 106.5],
    [15, "Jennifer Lopez", 105.3],
    [16, "Khloé Kardashian", 101.6],
    [17, "Miley Cyrus", 98.4],
    [18, "Katy Perry", 92.2],
    [19, "Kourtney Kardashian", 90.4],
    [20, "Kevin Hart", 88.3],
    [21, "Demi Lovato", 86.6],
    [22, "FC Barcelona", 84.6],
    [23, "Rihanna", 81.3],
    [24, "Nike", 78.6],
    [25, "Real Madrid CF", 75.9],
    [26, "Vin Diesel", 75.5],
    [27, "Ellen DeGeneres", 75.3],
    [28, "9GAG", 74.6],
    [29, "NASA", 73.5],
    [30, "Maluma", 72.4],
    [31, "Zara Larsson", 71.5],
    [32, "Marvel", 70.6],
    [33, "Shakira", 70.5],
    [34, "LeBron James", 70.2],
    [35, "Deepika Padukone", 69.5],
    [36, "Chris Brown", 68.9],
    [37, "NASA Goddard", 68.3],
    [38, "Cardi B", 67.9],
    [39, "Nike Football (Soccer)", 67.2],
    [40, "Chanel", 66.6],
    [41, "Priyanka Chopra", 65.5],
    [42, "Maluma Baby", 64.8],
    [43, "David Beckham", 64.1],
    [44, "Gigi Hadid", 63.5],
    [45, "Ronaldinho", 63.3],
    [46, "Justin Timberlake", 63.1],
    [47, "NASA Earth Observatory", 62.6],
    [48, "LeBron James", 62.5],
    [49, "NASA Jet Propulsion Lab", 62.3],
    [50, "Kaka", 61.8],
    [51, "Snoop Dogg", 61.6],
    [52, "Lionel Messi", 61.5]
]

table_data = []
for i in range(1, len(data1)):
    handle2023 = data1[i][1]
    followers2023 = data1[i][2]
    rank2021 = next((row[0] for row in data2 if row[1] == handle2023), None)
    followers2021 = next((row[2] for row in data2 if row[1] == handle2023), None)
    if rank2021 is not None:
        rank_change = int(rank2021) - i
    else:
        rank_change = '-'
    table_data.append([i, data1[i][0], handle2023, followers2023, rank2021, handle2023, followers2021, rank_change])

headers = ["#", "#2023", "Handle2023", "Followers2023", "#2021", "Account2021", "Followers2021", "CHANGE (+/-)"]

table = tabulate(table_data, headers, tablefmt="plain")

print(table)

  #  #2023                Handle2023               Followers2023    #2021  Account2021              Followers2021  CHANGE (+/-)
  1  @instagram           Instagram                        649          1  Instagram                        302    0
  2  @cristiano           Cristiano Ronaldo                596          2  Cristiano Ronaldo                172.7  0
  3  @leomessi            Lionel Messi                     479         52  Lionel Messi                      61.5  49
  4  @selenagomez         Selena Gomez                     426          3  Selena Gomez                     167.3  -1
  5  @kyliejenner         Kylie Jenner                     397          8  Kylie Jenner                     126.8  3
  6  @therock             Dwayne Johnson                   387          5  Dwayne Johnson                   148.2  -1
  7  @arianagrande        Ariana Grande                    377          4  Ariana Grande                    154.4  -3
  8  @kimkardashian       Kim Kardashian                   362          6  Kim Kardashian                   145.7  -2
  9  @beyonce             Beyoncé                          314          7  Beyoncé                          130.3  -2
 10  @khloekardashian     Khloé Kardashian                 310         16  Khloé Kardashian                 101.6  6
 11  @nike                Nike                             302         24  Nike                              78.6  13
 12  @justinbieber        Justin Bieber                    293         12  Justin Bieber                    111.7  0
 13  @kendalljenner       Kendall Jenner                   292         13  Kendall Jenner                   109.4  0
 14  @natgeo              National Geographic              281         11  National Geographic              114.5  -3
 15  @taylorswift         Taylor Swift                     268          9  Taylor Swift                     119.6  -6
 16  @virat.kohli         Virat Kohli                      255             Virat Kohli                             -
 17  @jlo                 Jennifer Lopez                   249         15  Jennifer Lopez                   105.3  -2
 18  @nickiminaj          Nicki Minaj                      223         14  Nicki Minaj                      106.5  -4
 19  @kourtneykardash     Kourtney Kardashian              223         19  Kourtney Kardashian               90.4  0
 20  @mileycyrus          Miley Cyrus                      212         17  Miley Cyrus                       98.4  -3
 21  @neymarjr            Neymar                           210             Neymar                                  -
 22  @katyperry           Katy Perry                       203         18  Katy Perry                        92.2  -4
 23  @zendaya             Zendaya                          183             Zendaya                                 -
 24  @kevinhart4real      Kevin Hart                       178         20  Kevin Hart                        88.3  -4
 25  @iamcardib           Cardi B                          168         38  Cardi B                           67.9  13
 26  @kingjames           LeBron James                     156         34  LeBron James                      70.2  8
 27  @ddlovato            Demi Lovato                      156         21  Demi Lovato                       86.6  -6
 28  @badgalriri          Rihanna                          152         23  Rihanna                           81.3  -5
 29  @realmadrid          Real Madrid CF                   143         25  Real Madrid CF                    75.9  -4
 30  @chrisbrownofficial  Chris Brown                      142         36  Chris Brown                       68.9  6
 31  @champagnepapi       Drake                            140             Drake                                   -
 32  @ellendegeneres      Ellen DeGeneres                  139         27  Ellen DeGeneres                   75.3  -5
 33  @fcbarcelona         FC Barcelona                     122         22  FC Barcelona                      84.6  -11
 34  @billieeilish        Billie Eilish                    109             Billie Eilish                           -
 35  @championsleague     UEFA Champions League            107             UEFA Champions League                   -
 36  @gal_gadot           Gal Gadot                        105             Gal Gadot                               -
 37  @k.mbappe            Kylian Mbappé                    105             Kylian Mbappé                           -
 38  @vindiesel           Vin Diesel                        97.5       26  Vin Diesel                        75.5  -12
 39  @lalalalisa_m        Lisa                              95.8           Lisa                                    -
 40  @nasa                NASA                              94.2       29  NASA                              73.5  -11
 41  @dualipa             Dua Lipa                          88.6           Dua Lipa                                -
 42  @priyankachopra      Priyanka Chopra                   88.5       41  Priyanka Chopra                   65.5  -1
 43  @shakira             Shakira                           87.8       33  Shakira                           70.5  -10
 44  @nba                 NBA                               82.3           NBA                                     -
 45  @shraddhakapoor      Shraddha Kapoor                   81.6           Shraddha Kapoor                         -
 46  @davidbeckham        David Beckham                     80.6       43  David Beckham                     64.1  -3
 47  @jennierubyjane      Jennie                            80.2           Jennie                                  -
 48  @snoopdogg           Snoop Dogg                        80.2       51  Snoop Dogg                        61.6  3
 49  @khaby00             Khaby Lame                        79.6           Khaby Lame                              -
 50  @gigihadid           Gigi Hadid                        78.8       44  Gigi Hadid                        63.5  -6